<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<style>
    @import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800');

    body {
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        color: #9a9a9a;
    }

    .fixed-top {

        top: 20px;
    }

    .te {
        padding-top: 115px;
        padding-bottom: 185px;
    }

    .te h1 {
        font-size: 60px;
        font-weight: 100;
        margin-bottom: 25px;
    }

    .te p {
        font-size: 16px;
    }

    #about-section {
        padding-top: 85px;
        padding-bottom: 110px;
    }

    .about-text h1 {
        font-size: 25px;
        font-weight: 300;
    }

    .about-text p {
        font-size: 16px;
    }

    #team-section {
        padding: 50px 0;

        background: #5385C1;
        color: #fff;
    }

    .team-top-header h1 {
        font-weight: 300;
    }

    .team-member-id {
        padding-top: 25px;
    }

    .team-member-id.text-center img {
        width: 100px;
        height: 100px;
    }

    .team-member-id.text-center h1 {
        font-size: 18px;
        font-weight: 300;
    }

    #recent-section {
        padding: 50px 0;
    }

    .recent-text h1 {
        font-weight: 300;

        font-size: 25px;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand text-white" href="#">MicroSense</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Elements</a>
                </li>
            </ul>

        </div>
    </div>
</nav>
<header style="background:url(https://images.pexels.com/photos/733475/pexels-photo-733475.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);    background-size: cover;
    background-position: center;    border-top: 0px solid #5385C1;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="te text-center text-white">
                    <h1>Welcome to MicroSense</h1>
                    <p>"Explore the cutting-edge world of emotion analysis with our AI-powered micro-expression
                        detector. Unveil hidden emotions as our technology deciphers subtle facial cues, providing deep
                        insights into human sentiments. Enhance your understanding of nonverbal communication, improve
                        interpersonal interactions, and gain valuable emotional intelligence insights. Experience the
                        future of emotion recognition through our intuitive web platform, where every fleeting
                        expression tells a storyD</p>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="about-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="about-text border-right">
                    <h1>Megna tempus sed amet aliquam veroeros</h1>
                    <p class="">It is a long established fact that a reader will be distracted by the readable content
                        of a page when looking at its layout.</p>
                    <button class="btn btn-primary">More</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about-text border-right">
                    <h1>Megna tempus sed amet aliquam veroeros</h1>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout.</p>
                    <button class="btn btn-primary">More</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about-text">
                    <h1>Megna tempus sed amet aliquam veroeros</h1>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout.</p>
                    <button class="btn btn-primary">More</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="team-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="team-top-header text-center">
                    <h1>Team Member</h1>
                    <p>Megna tempus sed amet</p>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="team-member-id text-center border">
                            <img class="img-fluid rounded-circle"
                                src="http://cdn.savoy.nordicmade.com/wp-content/uploads/2015/08/team-member-2.jpg"
                                alt="" />
                            <h1>Marima</h1>
                            <p>Co-founder</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="team-member-id text-center border">
                            <img class="img-fluid rounded-circle"
                                src="http://cdn.savoy.nordicmade.com/wp-content/uploads/2015/08/team-member-2.jpg"
                                alt="" />
                            <h1>Marima</h1>
                            <p>Co-founder</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="team-member-id text-center border">
                            <img class="img-fluid rounded-circle"
                                src="http://cdn.savoy.nordicmade.com/wp-content/uploads/2015/08/team-member-2.jpg"
                                alt="" />
                            <h1>Marima</h1>
                            <p>Co-founder</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="team-member-id text-center border">
                            <img class="img-fluid rounded-circle"
                                src="http://cdn.savoy.nordicmade.com/wp-content/uploads/2015/08/team-member-2.jpg"
                                alt="" />
                            <h1>Marima</h1>
                            <p>Co-founder</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="recent-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="team-top-header text-center">
                    <h1>Nunc Dignism</h1>
                    <p>Megna tempus sed amet</p>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="recent-text">
                            <img class="img-fluid"
                                src="https://images.pexels.com/photos/113727/pexels-photo-113727.jpeg?auto=compress&cs=tinysrgb&h=350"
                                alt="" />
                            <h1>Megna tempus sed</h1>
                            <p>Various versions have evolved over the years, sometimes by accident, sometimes on purpose
                                (injected humour and the like).</p>
                            <button class="btn btn-primary">More</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="recent-text">
                            <img class="img-fluid"
                                src="https://images.pexels.com/photos/113727/pexels-photo-113727.jpeg?auto=compress&cs=tinysrgb&h=350"
                                alt="" />
                            <h1>Megna tempus sed</h1>
                            <p>Various versions have evolved over the years, sometimes by accident, sometimes on purpose
                                (injected humour and the like).</p>
                            <button class="btn btn-primary">More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer style="padding: 21px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                This website copyright by Hasan
            </div>
            <div class="col-md-6 col-6">
                <div class="social-icon text-right">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-facebook-f"></i>
                </div>
            </div>
        </div>
    </div>
</footer>